Автор материала: Зраев Артем.

Можно использовать в каких угодно целях.

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

Данные лежат на google диске по [ссылке](https://drive.google.com/file/d/1g8lsZO25O2SxuCrIYVSDV3eLqmfC-TCZ/view?usp=sharing).

In [1]:
!wget 'https://drive.google.com/uc?export=download&id=1g8lsZO25O2SxuCrIYVSDV3eLqmfC-TCZ' -O WA_Fn-UseC_-Telco-Customer-Churn.csv

"wget" не является внутренней или внешней
командой, исполняемой программой или пакетным файлом.
"id" не является внутренней или внешней
командой, исполняемой программой или пакетным файлом.

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [45]:
#Ваш код здесь
df.gender.value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

In [47]:
female = df.gender.loc[df.gender == 'Female'].count()
male = df.gender.loc[df.gender == 'Male'].count()
male / female

1.0192087155963303

##### 2. Какое количество уникальных значений у поля InternetService?

In [48]:
#Ваш код здесь
df['InternetService'].value_counts()

Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [38]:
#Ваш код здесь
df['TotalCharges'].describe()

count     7043
unique    6531
top
freq        11
Name: TotalCharges, dtype: object

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

In [3]:
type(df.iat[1,19])

str

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [4]:
#Ваш код здесь
print(df["PhoneService"])
df["PhoneService"]=np.where(df["PhoneService"] == "Yes", 1, 0)
df["PhoneService"]

0        No
1       Yes
2       Yes
3        No
4       Yes
       ...
7038    Yes
7039    Yes
7040     No
7041    Yes
7042    Yes
Name: PhoneService, Length: 7043, dtype: object

0       0
1       1
2       1
3       0
4       1
       ..
7038    1
7039    1
7040    0
7041    1
7042    1
Name: PhoneService, Length: 7043, dtype: int32

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [5]:
#Ваш код здесь
# Замена пробелов в поле TotalCharges на np.nan (если не " ", то оставляем значение df["TotalCharges"])
df["TotalCharges"] = np.where(df["TotalCharges"] == " ", np.nan, df["TotalCharges"])
df["TotalCharges"] = df["TotalCharges"].fillna(0)
df["TotalCharges"] = df["TotalCharges"].astype('float32')
df['TotalCharges'].describe()

count    7043.000000
mean     2279.732178
std      2266.794434
min         0.000000
25%       398.549988
50%      1394.550049
75%      3786.599976
max      8684.799805
Name: TotalCharges, dtype: float64

In [40]:
df['TotalCharges'].median()

1394.55

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [68]:
#Ваш код здесь
df['Churn'].unique()

array(['No', 'Yes'], dtype=object)

In [69]:
df['Churn'] = np.where(df['Churn'] == 'Yes', 1, 0)
df['Churn'].unique()

array([0, 1])

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [70]:
#Ваш код здесь
df[['StreamingMovies', 'StreamingTV', 'TechSupport' ]]

      StreamingMovies  StreamingTV  TechSupport
0                   0            0            0
1                   0            0            0
2                   0            0            0
3                   0            0            1
4                   0            0            0
...               ...          ...          ...
7038                1            1            1
7039                1            1            0
7040                0            0            0
7041                0            0            0
7042                1            1            1

[7043 rows x 3 columns]

In [6]:
print('StreamingMovies ', df.StreamingMovies.unique())
print('StreamingTV ', df.StreamingTV.unique())
print('TechSupport ', df.TechSupport.unique())

StreamingMovies  ['No' 'Yes' 'No internet service']
StreamingTV  ['No' 'Yes' 'No internet service']
TechSupport  ['No' 'Yes' 'No internet service']

In [7]:
df_list = ['StreamingMovies', 'StreamingTV', 'TechSupport' ]
for item in df_list:
    df[item] = np.where(df[item] == 'Yes', 1, 0)

In [8]:
print('StreamingMovies ', df.StreamingMovies.unique())
print('StreamingTV ', df.StreamingTV.unique())
print('TechSupport ', df.TechSupport.unique())

StreamingMovies  [0 1]
StreamingTV  [0 1]
TechSupport  [0 1]

##### 8. Заполните пропуски в поле PhoneService значением 0

In [74]:
#Ваш код здесь
print(df["PhoneService"].unique())
df["PhoneService"] = df["PhoneService"].fillna(0)
print(df["PhoneService"].unique())

['No' 'Yes']
['No' 'Yes']

##### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [13]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
#Ваш код здесь
df_cut_columns = df[columns]
df_cut_columns

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
0,Female,1,0,29.850000,0,0,0,No
1,Male,34,1,1889.500000,0,0,0,No
2,Male,2,1,108.150002,0,0,0,Yes
3,Male,45,0,1840.750000,0,0,1,No
4,Female,2,1,151.649994,0,0,0,Yes
...,...,...,...,...,...,...,...,...
7038,Male,24,1,1990.500000,1,1,1,No
7039,Female,72,1,7362.899902,1,1,0,No
7040,Female,11,0,346.450012,0,0,0,No
7041,Male,4,1,306.600006,0,0,0,Yes
7042,Male,66,1,6844.500000,1,1,1,No

##### 9. Разделите датасет на тренировочную и тестовую выборку.

In [14]:
features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
#Ваш код здесь
from sklearn.model_selection import train_test_split  # функция для деления 
X_train, X_test, y_train, y_test = train_test_split(df_cut_columns[features], df_cut_columns[target], test_size=0.2, random_state=42)

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [15]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

#Ваш код здесь

gender = Pipeline([
     ('selector', ColumnSelector(key='gender')), 
     ('category', OHEEncoder(key='gender'))
],
verbose=True)

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [16]:
#Ваш код здесь
gender.fit_transform(X_train, y_train)

[Pipeline] .......... (step 1 of 2) Processing selector, total=   0.0s
[Pipeline] .......... (step 2 of 2) Processing category, total=   0.0s

      gender_Female  gender_Male
2142              1            0
1623              1            0
6074              0            1
1362              0            1
6754              0            1
...             ...          ...
3772              0            1
5191              1            0
5226              0            1
5390              0            1
860               0            1

[5634 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

In [17]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [18]:
#Ваш код здесь
from sklearn.preprocessing import StandardScaler

TotalCharges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])

Объединение всех "кубиков" очень легко сделать таким образом

In [19]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [20]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [21]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features', feats),
    ('classifier', RandomForestClassifier(random_state=42)),
])

pipeline.fit(X_train, y_train)

[Pipeline] .......... (step 1 of 2) Processing selector, total=   0.0s
[Pipeline] .......... (step 2 of 2) Processing category, total=   0.0s

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('continuos_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key=['PhoneService',
                                                                                      'StreamingMovies',
                                                                                      'StreamingTV',
                                                                                      'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key='gender')),
                                                                 ('category',
                                                                  OHEEncoder(key='gender'))],
                                                          verbose=True))])),
                ('classifier', RandomForestClassifier(random_state=42))])

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [32]:
#Ваш код здесь
outflow = pipeline.predict(X_test)
outflow

array(['Yes', 'No', 'No', ..., 'No', 'No', 'Yes'], dtype=object)

In [34]:
outflow = [1 if  x == 'Yes' else 0 for x in outflow]

##### 15. Посчитайте метрики качества получившейся модели (roc_auc)

In [37]:
from sklearn.metrics import roc_auc_score

#Ваш код здесь
roc_auc_score(y_test,outflow)

0.5

### Сохраним наш пайплайн

In [39]:
pip install dill

Collecting dill
  Downloading dill-0.3.4-py2.py3-none-any.whl (86 kB)
Installing collected packages: dill
Successfully installed dill-0.3.4
Note: you may need to restart the kernel to use updated packages.

In [40]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)